/*
 * Author: Eric R - NumEricR
 * Creation: 25-08-2011
 */


@font-face {
	font-family: 'Fontin'; /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
	src: url('Fontin-Regular.ttf') format('truetype');
}


/*
 * =! Global styles
 */
* {
	margin: 0;
	padding: 0;
	line-height: 1;
}
html,
body {
	width: 100%;
	height: 100%;
}
html {
  display: table;
}
body {
  display: table-cell;
  vertical-align: middle;
	font-family: Helvetica, Tahoma, Arial, sans-serif;
	font-size: 62.5%;
	color: #333;
	background-color: #ccc;
}
a {
	text-decoration: none;
	color: #666;
}


/*
 * =! vCard
 */
#virtualcard {
	position: relative;
	max-width: 36em;
  width: 36em;
	height: 17em;
	margin: 0 auto;
	padding: 5em 0 0 4em;
	border: 1.5px solid #666;
	background-color: white;
	font-family: 'Fontin', Helvetica, Tahoma, Arial, sans-serif;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 1px 1px 25px #666;
	-webkit-box-shadow: 1px 1px 25px #666;
	box-shadow: 1px 1px 25px #666;
}

#virtualcard h1 {
	font-size: 3.5em;
	margin-bottom: 1.5em;
	color: #333;
}
#virtualcard h1 .nickname {
  font-size: 0.8em;
  font-style: italic;
}
#virtualcard h1 .family-name {
	text-transform: uppercase;
}

#virtualcard h2,
#virtualcard p {
	font-size: 1.4em;
	line-height: 1.4em;
}

#virtualcard h2 {
  font-size: 1.8em;
	font-weight: normal;
}

#virtualcard p span,
#virtualcard .dl a span,
#virtualcard .adr {
  position: absolute;
  left: -999em;
}

#virtualcard .skills {
  margin-top: 0.5em;
  font-size: 1.4em;
}

#virtualcard .dl {
	position: absolute;
	bottom: 0.4em;
	right: 0.6em;
	font-style: normal;
}
#virtualcard .dl a:hover span,
#virtualcard .dl a:focus span {
	position: relative;
	left: 0;
}
#virtualcard .dl a span {
	font-family: Helvetica, Tahoma, Arial, sans-serif;
	font-size: 0.9em;
	color: #693;
	margin-right: 0.5em;
}
#virtualcard .dl a img {
  border: none;
  vertical-align: text-bottom;
	opacity: 0.4;
}
#virtualcard .dl a:hover img,
#virtualcard .dl a:focus img {
	opacity: 1;
}


/*
 * =! Credits
 */
#credits {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-style: italic;
}
#credits span {
  font-weight: bold;
}
#credits {
	color: #666;
}
#credits a:hover,
#credits a:focus {
	text-decoration: underline;
}